# Homework #3 - Rossman Store Sales

Group Members:

Hoo De Lin (A0126576X)

Yap Han Chiang (A0125168E)

# Analyzing the data:

Before we try figuring out which model to fit in, we need to understand the data, and clean/modify the data to be able to feed into any model

The feature that I believe are quite important are:

- Competition
- Holidays
- Type of stores
- Type of day (Monday - Sunday)
- Having promotions
- Promo2 since

Interesting to note is that,

In [14]:
import numpy as np
import math
import pandas as pd
import matplotlib.pyplot as pl
%matplotlib inline
import seaborn as sb 
from sklearn import svm
from datetime import datetime
pl.style.use('ggplot')

In [30]:
trainData = pd.read_csv('train_v2.csv', parse_dates=['Date'], dtype={'StateHoliday': 'str'})
storeData = pd.read_csv('store.csv')
# testDataUnsanitized = pd.read_csv('test_v2.csv',  parse_dates=['Date'], dtype={'StateHoliday': 'str'})

In [31]:
# Cleaning the data
def hasHoliday(row):
    if row['StateHoliday'] != "0" or row['SchoolHoliday'] != "0":
        return 1
    else:
        return 0
def calculateCompetitionAge(row):
        if math.isnan(row['CompetitionOpenSinceMonth']):
            return 0
        else:
            f_date = datetime(int(row['CompetitionOpenSinceYear']), int(row['CompetitionOpenSinceMonth']), 1, 0, 0, 0)
            return (row['Date'].to_pydatetime() - f_date).days

month_num_name_dict = {
    "1": "Jan",
    "2": "Feb",
    "3": "Mar",
    "4": "Apr",
    "5": "May",
    "6": "Jun",
    "7": "Jul",
    "8": "Aug",
    "9": "Sept",
    "10": "Oct",
    "11": "Nov",
    "12": "Dec"
}

def isHavingPromo2(row):
    if not isinstance(row['PromoInterval'], str):
        return 0
    elif month_num_name_dict[str(row['Date'].to_pydatetime().month)] in row['PromoInterval']:
        return 1
    else:
        return 0

# Possible thought: If we are not at the promo interval, should promo2Age have any effect?
def promo2Age(row):
    if row['Promo2'] == 0:
        return 0
    else:
#        https://stackoverflow.com/a/17087427
        date = str(int(row["Promo2SinceYear"])) + "-W" + str(int(row["Promo2SinceWeek"]))
        f_date = datetime.strptime(date + '-0', "%Y-W%W-%w")
        return (row['Date'].to_pydatetime() - f_date).days
trainData = pd.merge(storeData, trainData, on='Store')
trainData['HasHoliday'] = trainData.apply(lambda row: hasHoliday(row), axis=1)
trainData['CompetitionAge'] = trainData.apply(lambda row: calculateCompetitionAge(row), axis=1)
trainData['HavingPromo2'] = trainData.apply(lambda row: isHavingPromo2(row), axis=1)
trainData['Promo2Age'] = trainData.apply(lambda row: promo2Age(row), axis=1)
trainData.drop('CompetitionOpenSinceMonth', axis=1, inplace=True)
trainData.drop('CompetitionOpenSinceYear', axis=1, inplace=True)
trainData.drop('StateHoliday', axis=1, inplace=True)
trainData.drop('SchoolHoliday', axis=1, inplace=True)
trainData.drop('Promo2SinceWeek', axis=1, inplace=True)
trainData.drop('Promo2SinceYear', axis=1, inplace=True)
trainData.drop('PromoInterval', axis=1, inplace=True)
trainData.drop('Promo2', axis=1, inplace=True)
trainData.drop('Open', axis=1, inplace=True)
trainData.drop('Store', axis=1, inplace=True)

In [32]:
trainData

,StoreType,Assortment,CompetitionDistance,DayOfWeek,Date,Sales,Customers,Promo,HasHoliday,CompetitionAge,HavingPromo2,Promo2Age
0,c,a,1270.0,5,2015-01-30,5577,616,1,1,2342,0,0
1,c,a,1270.0,4,2015-01-29,5171,573,1,1,2341,0,0
2,c,a,1270.0,3,2015-01-28,4310,537,1,1,2340,0,0
3,c,a,1270.0,2,2015-01-27,4806,532,1,1,2339,0,0
4,c,a,1270.0,1,2015-01-26,4781,566,1,1,2338,0,0
5,c,a,1270.0,7,2015-01-25,0,0,0,1,2337,0,0
6,c,a,1270.0,6,2015-01-24,4840,600,0,1,2336,0,0
7,c,a,1270.0,5,2015-01-23,3586,489,0,1,2335,0,0
8,c,a,1270.0,4,2015-01-22,3492,493,0,1,2334,0,0
9,c,a,1270.0,3,2015-01-21,3299,460,0,1,2333,0,0
10,c,a,1270.0,2,2015-01-20,3680,462,0,1,2332,0,0
11,c,a,1270.0,1,2015-01-19,3721,480,0,1,2331,0,0
12,c,a,1270.0,7,2015-01-18,0,0,0,1,2330,0,0
13,c,a,1270.0,6,2015-01-17,5255,622,0,1,2329,0,0
14,c,a,1270.0,5,2015-01-16,4161,524,1,1,2328,0,0
15,c,a,1270.0,4,2015-01-15,4295,517,1,1,2327,0,0
16,c,a,1270.0,3,2015-01-14,4541,545,1,1,2326,0,0
17,c,a,1270.0,2,2015-01-13,4924,564,1,1,2325,0,0
18,c,a,1270.0,1,2015-01-12,5346,590,1,1,2324,0,0
19,c,a,1270.0,7,2015-01-11,0,0,0,1,2323,0,0
20,c,a,1270.0,6,2015-01-10,4599,566,0,1,2322,0,0
21,c,a,1270.0,5,2015-01-09,3998,494,1,1,2321,0,0
22,c,a,1270.0,4,2015-01-08,3716,457,1,1,2320,0,0
23,c,a,1270.0,3,2015-01-07,4796,603,1,1,2319,0,0
24,c,a,1270.0,2,2015-01-06,4574,595,1,1,2318,0,0
25,c,a,1270.0,1,2015-01-05,6239,712,1,1,2317,0,0
26,c,a,1270.0,7,2015-01-04,0,0,0,1,2316,0,0
27,c,a,1270.0,6,2015-01-03,5023,645,0,1,2315,0,0
28,c,a,1270.0,5,2015-01-02,5509,657,0,1,2314,0,0
29,c,a,1270.0,4,2015-01-01,0,0,0,1,2313,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
66870,d,c,5350.0,5,2014-12-26,0,0,0,1,0,1,936
66871,d,c,5350.0,4,2014-12-25,0,0,0,1,0,1,935
66872,d,c,5350.0,3,2014-12-24,5603,418,0,1,0,1,934
66873,d,c,5350.0,2,2014-12-23,12214,845,0,1,0,1,933
66874,d,c,5350.0,1,2014-12-22,11361,774,0,1,0,1,932
66875,d,c,5350.0,7,2014-12-21,0,0,0,1,0,1,931
66876,d,c,5350.0,6,2014-12-20,10898,650,0,1,0,1,930
66877,d,c,5350.0,5,2014-12-19,11673,646,1,1,0,1,929
66878,d,c,5350.0,4,2014-12-18,10205,631,1,1,0,1,928
66879,d,c,5350.0,3,2014-12-17,9269,553,1,1,0,1,927
66880,d,c,5350.0,2,2014-12-16,11238,631,1,1,0,1,926
66881,d,c,5350.0,1,2014-12-15,12491,723,1,1,0,1,925
66882,d,c,5350.0,7,2014-12-14,0,0,0,1,0,1,924
66883,d,c,5350.0,6,2014-12-13,7880,525,0,1,0,1,923
66884,d,c,5350.0,5,2014-12-12,5341,386,0,1,0,1,922
66885,d,c,5350.0,4,2014-12-11,5884,413,0,1,0,1,921
66886,d,c,5350.0,3,2014-12-10,5784,384,0,1,0,1,920
66887,d,c,5350.0,2,2014-12-09,5860,403,0,1,0,1,919
66888,d,c,5350.0,1,2014-12-08,6195,442,0,1,0,1,918
66889,d,c,5350.0,7,2014-12-07,0,0,0,1,0,1,917
66890,d,c,5350.0,6,2014-12-06,8572,582,0,1,0,1,916
66891,d,c,5350.0,5,2014-12-05,10636,625,1,1,0,1,915
66892,d,c,5350.0,4,2014-12-04,9775,574,1,1,0,1,914
66893,d,c,5350.0,3,2014-12-03,8837,539,1,1,0,1,913
66894,d,c,5350.0,2,2014-12-02,6983,445,1,1,0,1,912
66895,d,c,5350.0,1,2014-12-01,9864,597,1,1,0,1,911
66896,d,c,5350.0,7,2014-11-30,0,0,0,1,0,0,910
66897,d,c,5350.0,6,2014-11-29,9353,631,0,1,0,0,909
66898,d,c,5350.0,5,2014-11-28,10435,598,1,1,0,0,908
66899,d,c,5350.0,4,2014-11-27,8165,523,1,1,0,0,907