# Homework #3 - Rossman Store Sales

Group Members:

Hoo De Lin (A0126576X)

Yap Han Chiang (A0125168E)

# Analyzing the data:

Before we try figuring out which model to fit in, we need to understand the data, and clean/modify the data to be able to feed into any model

The feature that I believe are quite important are:

- Competition
- Holidays
- Type of stores
- Type of day (Monday - Sunday)
- Having promotions
- Promo2 since

Interesting to note is that,

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
%matplotlib inline
import seaborn as sb 
from sklearn import svm

In [4]:
trainDataUnsanitized = pd.read_csv('train_v2.csv', dtype={'StateHoliday': 'str'})
storeDataUnsanitized = pd.read_csv('store.csv')
testDataUnsanitized = pd.read_csv('test_v2.csv',  dtype={'StateHoliday': 'str'})

# Merging store data with test and train and drop store ID
trainDataMerged = pd.merge(storeData, trainData, left_on = 'Store', right_on = 'Store')
testDataMerged = pd.merge(storeData, testData, left_on = 'Store', right_on = 'Store')
trainDataMerged.drop('column_name', axis=1, inplace=True)
# trainData
# storeData # NaN values for empty cells...

       Store StoreType Assortment  CompetitionDistance  \
0          1         c          a               1270.0
1          1         c          a               1270.0
2          1         c          a               1270.0
3          1         c          a               1270.0
4          1         c          a               1270.0
5          1         c          a               1270.0
6          1         c          a               1270.0
7          1         c          a               1270.0
8          1         c          a               1270.0
9          1         c          a               1270.0
10         1         c          a               1270.0
11         1         c          a               1270.0
12         1         c          a               1270.0
13         1         c          a               1270.0
14         1         c          a               1270.0
15         1         c          a               1270.0
16         1         c          a               1270.0
17         1         c          a               1270.0
18         1         c          a               1270.0
19         1         c          a               1270.0
20         1         c          a               1270.0
21         1         c          a               1270.0
22         1         c          a               1270.0
23         1         c          a               1270.0
24         1         c          a               1270.0
25         1         c          a               1270.0
26         1         c          a               1270.0
27         1         c          a               1270.0
28         1         c          a               1270.0
29         1         c          a               1270.0
...      ...       ...        ...                  ...
33420   1115         d          c               5350.0
33421   1115         d          c               5350.0
33422   1115         d          c               5350.0
33423   1115         d          c               5350.0
33424   1115         d          c               5350.0
33425   1115         d          c               5350.0
33426   1115         d          c               5350.0
33427   1115         d          c               5350.0
33428   1115         d          c               5350.0
33429   1115         d          c               5350.0
33430   1115         d          c               5350.0
33431   1115         d          c               5350.0
33432   1115         d          c               5350.0
33433   1115         d          c               5350.0
33434   1115         d          c               5350.0
33435   1115         d          c               5350.0
33436   1115         d          c               5350.0
33437   1115         d          c               5350.0
33438   1115         d          c               5350.0
33439   1115         d          c               5350.0
33440   1115         d          c               5350.0
33441   1115         d          c               5350.0
33442   1115         d          c               5350.0
33443   1115         d          c               5350.0
33444   1115         d          c               5350.0
33445   1115         d          c               5350.0
33446   1115         d          c               5350.0
33447   1115         d          c               5350.0
33448   1115         d          c               5350.0
33449   1115         d          c               5350.0

       CompetitionOpenSinceMonth  CompetitionOpenSinceYear  Promo2  \
0                            9.0                    2008.0       0
1                            9.0                    2008.0       0
2                            9.0                    2008.0       0
3                            9.0                    2008.0       0
4                            9.0                    2008.0       0
5                            9.0                    2008.0       0
6                            9.0                    2008.0       0
7                            9.0                    2008.0       0
8                            9.0                    2008.0       0
9                            9.0                    2008.0       0
10                           9.0                    2008.0       0
11                           9.0                    2008.0       0
12                           9.0                    2008.0       0
13                           9.0                    2008.0       0
14                           9.0                    2008.0       0
15                           9.0                    2008.0       0
16                           9.0                    2008.0       0
17                           9.0                    2008.0       0
18                           9.0                    2008.0       0
19                           9.0                    2008.0       0
20                           9.0                    2008.0       0
21                           9.0                    2008.0       0
22                           9.0                    2008.0       0
23                           9.0                    2008.0       0
24                           9.0                    2008.0       0
25                           9.0                    2008.0       0
26                           9.0                    2008.0       0
27                           9.0                    2008.0       0
28                           9.0                    2008.0       0
29                           9.0                    2008.0       0
...                          ...                       ...     ...
33420                        NaN                       NaN       1
33421                        NaN                       NaN       1
33422                        NaN                       NaN       1
33423                        NaN                       NaN       1
33424                        NaN                       NaN       1
33425                        NaN                       NaN       1
33426                        NaN                       NaN       1
33427                        NaN                       NaN       1
33428                        NaN                       NaN       1
33429                        NaN                       NaN       1
33430                        NaN                       NaN       1
33431                        NaN                       NaN       1
33432                        NaN                       NaN       1
33433                        NaN                       NaN       1
33434                        NaN                       NaN       1
33435                        NaN                       NaN       1
33436                        NaN                       NaN       1
33437                        NaN                       NaN       1
33438                        NaN                       NaN       1
33439                        NaN                       NaN       1
33440                        NaN                       NaN       1
33441                        NaN                       NaN       1
33442                        NaN                       NaN       1
33443                        NaN                       NaN       1
33444                        NaN                       NaN       1
33445                        NaN                       NaN       1
33446                        NaN                       NaN       1
33447                        NaN                       NaN       1
33448                        NaN                       NaN       1
33449                        NaN                       NaN       1

       Promo2SinceWeek  Promo2SinceYear     PromoInterval  DayOfWeek  \
0                  NaN              NaN               NaN          5
1                  NaN              NaN               NaN          4
2                  NaN              NaN               NaN          3
3                  NaN              NaN               NaN          2
4                  NaN              NaN               NaN          1
5                  NaN              NaN               NaN          7
6                  NaN              NaN               NaN          6
7                  NaN              NaN               NaN          5
8                  NaN              NaN               NaN          4
9                  NaN              NaN               NaN          3
10                 NaN              NaN               NaN          2
11                 NaN              NaN               NaN          1
12                 NaN              NaN               NaN          7
13                 NaN              NaN               NaN          6
14                 NaN              NaN               NaN          5
15                 NaN              NaN               NaN          4
16                 NaN              NaN               NaN          3
17                 NaN              NaN               NaN          2
18                 NaN              NaN               NaN          1
19                 NaN              NaN               NaN          7
20                 NaN              NaN               NaN          6
21                 NaN              NaN               NaN          5
22                 NaN              NaN               NaN          4
23                 NaN              NaN               NaN          3
24                 NaN              NaN               NaN          2
25                 NaN              NaN               NaN          1
26                 NaN              NaN               NaN          7
27                 NaN              NaN               NaN          6
28                 NaN              NaN               NaN          5
29                 NaN              NaN               NaN          4
...                ...              ...               ...        ...
33420             22.0           2012.0  Mar,Jun,Sept,Dec          5
33421             22.0           2012.0  Mar,Jun,Sept,Dec          4
33422             22.0           2012.0  Mar,Jun,Sept,Dec          3
33423             22.0           2012.0  Mar,Jun,Sept,Dec          2
33424             22.0           2012.0  Mar,Jun,Sept,Dec          1
33425             22.0           2012.0  Mar,Jun,Sept,Dec          7
33426             22.0           2012.0  Mar,Jun,Sept,Dec          6
33427             22.0           2012.0  Mar,Jun,Sept,Dec          5
33428             22.0           2012.0  Mar,Jun,Sept,Dec          4
33429             22.0           2012.0  Mar,Jun,Sept,Dec          3
33430             22.0           2012.0  Mar,Jun,Sept,Dec          2
33431             22.0           2012.0  Mar,Jun,Sept,Dec          1
33432             22.0           2012.0  Mar,Jun,Sept,Dec          7
33433             22.0           2012.0  Mar,Jun,Sept,Dec          6
33434             22.0           2012.0  Mar,Jun,Sept,Dec          5
33435             22.0           2012.0  Mar,Jun,Sept,Dec          4
33436             22.0           2012.0  Mar,Jun,Sept,Dec          3
33437             22.0           2012.0  Mar,Jun,Sept,Dec          2
33438             22.0           2012.0  Mar,Jun,Sept,Dec          1
33439             22.0           2012.0  Mar,Jun,Sept,Dec          7
33440             22.0           2012.0  Mar,Jun,Sept,Dec          6
33441             22.0           2012.0  Mar,Jun,Sept,Dec          5
33442             22.0           2012.0  Mar,Jun,Sept,Dec          4
33443             22.0           2012.0  Mar,Jun,Sept,Dec          3
33444             22.0           2012.0  Mar,Jun,Sept,Dec          2
33445             22.0           2012.0  Mar,Jun,Sept,Dec          1
33446             22.0           2012.0  Mar,Jun,Sept,Dec          7
33447             22.0           2012.0  Mar,Jun,Sept,Dec          6
33448             22.0           2012.0  Mar,Jun,Sept,Dec          5
33449             22.0           2012.0  Mar,Jun,Sept,Dec          4

             Date  Customers  Open  Promo StateHoliday  SchoolHoliday
0      2015-07-31        555     1      1            0              1
1      2015-07-30        546     1      1            0              1
2      2015-07-29        523     1      1            0              1
3      2015-07-28        560     1      1            0              1
4      2015-07-27        612     1      1            0              1
5      2015-07-26          0     0      0            0              0
6      2015-07-25        500     1      0            0              0
7      2015-07-24        459     1      0            0              0
8      2015-07-23        503     1      0            0              0
9      2015-07-22        463     1      0            0              0
10     2015-07-21        469     1      0            0              0
11     2015-07-20        526     1      0            0              0
12     2015-07-19          0     0      0            0              0
13     2015-07-18        512     1      0            0              0
14     2015-07-17        519     1      1            0              0
15     2015-07-16        517     1      1            0              0
16     2015-07-15        550     1      1            0              0
17     2015-07-14        544     1      1            0              0
18     2015-07-13        553     1      1            0              0
19     2015-07-12          0     0      0            0              0
20     2015-07-11        441     1      0            0              0
21     2015-07-10        449     1      0            0              0
22     2015-07-09        480     1      0            0              0
23     2015-07-08        485     1      0            0              0
24     2015-07-07        485     1      0            0              0
25     2015-07-06        540     1      0            0              0
26     2015-07-05          0     0      0            0              0
27     2015-07-04        560     1      0            0              0
28     2015-07-03        538     1      1            0              0
29     2015-07-02        573     1      1            0              0
...           ...        ...   ...    ...          ...            ...
33420  2015-07-31        538     1      1            0              1
33421  2015-07-30        502     1      1            0              1
33422  2015-07-29        473     1      1            0              1
33423  2015-07-28        500     1      1            0              1
33424  2015-07-27        608     1      1            0              1
33425  2015-07-26          0     0      0            0              0
33426  2015-07-25        478     1      0            0              0
33427  2015-07-24        417     1      0            0              0
33428  2015-07-23        435     1      0            0              0
33429  2015-07-22        382     1      0            0              0
33430  2015-07-21        352     1      0            0              0
33431  2015-07-20        440     1      0            0              0
33432  2015-07-19          0     0      0            0              0
33433  2015-07-18        504     1      0            0              0
33434  2015-07-17        519     1      1            0              0
33435  2015-07-16        455     1      1            0              0
33436  2015-07-15        450     1      1            0              0
33437  2015-07-14        488     1      1            0              0
33438  2015-07-13        641     1      1            0              0
33439  2015-07-12          0     0      0            0              0
33440  2015-07-11        483     1      0            0              0
33441  2015-07-10        404     1      0            0              0
33442  2015-07-09        416     1      0            0              0
33443  2015-07-08        413     1      0            0              0
33444  2015-07-07        362     1      0            0              0
33445  2015-07-06        453     1      0            0              0
33446  2015-07-05          0     0      0            0              0
33447  2015-07-04        466     1      0            0              0
33448  2015-07-03        478     1      1            0              0
33449  2015-07-02        452     1      1            0              0

[33450 rows x 17 columns]

In [ ]:
# Clean up data: TODO
trainDataSanitized = trainDataUnsanitized
storeDataSanitized = storeDataUnsanitized
testDataSanitized =