# Homework #3 - Rossman Store Sales

Group Members:

Hoo De Lin (A0126576X)

Yap Han Chiang (A0125168E)

# Analyzing the data:

Before we try figuring out which model to fit in, we need to understand the data, and clean/modify the data to be able to feed into any model

The feature that I believe are quite important are:

- Competition
- Holidays
- Type of stores
- Type of day (Monday - Sunday)
- Having promotions
- Promo2 since

Interesting to note is that,

In [1]:
import numpy as np
import pandas as pd
import math
from datetime import datetime
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as pl
%matplotlib inline
import seaborn as sb 
import csv
from sklearn.ensemble import RandomForestRegressor

# import xgboost as xgb
from xgboost.sklearn import XGBRegressor
from sklearn.model_selection import KFold, train_test_split, GridSearchCV
from sklearn.metrics import confusion_matrix, mean_squared_error

/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [155]:
trainData = pd.read_csv('train_v2.csv', parse_dates=['Date'], dtype={'StateHoliday': 'str'})
storeData = pd.read_csv('store.csv')
testData = pd.read_csv('test_v2.csv', parse_dates=['Date'], dtype={'StateHoliday': 'str', 'StoreType': 'str', 'Assortment': 'str'})
trainData = pd.merge(storeData, trainData, on='Store')
testData = testData.reset_index().merge(storeData,on='Store')
index = testData['index']
testData.drop('index', axis=1, inplace=True)

In [156]:
testData

,Store,DayOfWeek,Date,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,1,4,2015-07-30,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1,3,2015-07-29,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,1,2,2015-07-28,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,1,1,2015-07-27,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
5,1,7,2015-07-26,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
6,1,6,2015-07-25,500,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
7,1,5,2015-07-24,459,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
8,1,4,2015-07-23,503,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
9,1,3,2015-07-22,463,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
10,1,2,2015-07-21,469,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
11,1,1,2015-07-20,526,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
12,1,7,2015-07-19,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
13,1,6,2015-07-18,512,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
14,1,5,2015-07-17,519,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
15,1,4,2015-07-16,517,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
16,1,3,2015-07-15,550,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
17,1,2,2015-07-14,544,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
18,1,1,2015-07-13,553,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
19,1,7,2015-07-12,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
20,1,6,2015-07-11,441,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
21,1,5,2015-07-10,449,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
22,1,4,2015-07-09,480,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
23,1,3,2015-07-08,485,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
24,1,2,2015-07-07,485,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
25,1,1,2015-07-06,540,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
26,1,7,2015-07-05,0,0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
27,1,6,2015-07-04,560,1,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
28,1,5,2015-07-03,538,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
29,1,4,2015-07-02,573,1,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33420,1115,5,2015-07-31,538,1,1,0,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33421,1115,4,2015-07-30,502,1,1,0,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33422,1115,3,2015-07-29,473,1,1,0,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33423,1115,2,2015-07-28,500,1,1,0,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33424,1115,1,2015-07-27,608,1,1,0,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33425,1115,7,2015-07-26,0,0,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33426,1115,6,2015-07-25,478,1,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33427,1115,5,2015-07-24,417,1,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33428,1115,4,2015-07-23,435,1,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33429,1115,3,2015-07-22,382,1,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33430,1115,2,2015-07-21,352,1,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33431,1115,1,2015-07-20,440,1,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33432,1115,7,2015-07-19,0,0,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33433,1115,6,2015-07-18,504,1,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33434,1115,5,2015-07-17,519,1,1,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33435,1115,4,2015-07-16,455,1,1,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33436,1115,3,2015-07-15,450,1,1,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33437,1115,2,2015-07-14,488,1,1,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33438,1115,1,2015-07-13,641,1,1,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33439,1115,7,2015-07-12,0,0,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33440,1115,6,2015-07-11,483,1,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33441,1115,5,2015-07-10,404,1,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33442,1115,4,2015-07-09,416,1,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33443,1115,3,2015-07-08,413,1,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33444,1115,2,2015-07-07,362,1,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33445,1115,1,2015-07-06,453,1,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33446,1115,7,2015-07-05,0,0,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33447,1115,6,2015-07-04,466,1,0,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33448,1115,5,2015-07-03,478,1,1,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
33449,1115,4,2015-07-02,452,1,1,0,0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [157]:
# Cleaning the data
competition_distance_mean = trainData['CompetitionDistance'].mean()
customer_mean = trainData['Customers'].mean()
competition_distance_std = trainData['CompetitionDistance'].std()
customer_std = trainData['Customers'].std()

def normalizeDistance(row):
    return (row['CompetitionDistance'] - competition_distance_mean) / competition_distance_std
def normalizeCustomer(row):
    return (row['Customers'] - customer_mean) / customer_std
def hasHoliday(row):
    if row['StateHoliday'] != "0" or row['SchoolHoliday'] != "0":
        return 1
    else:
        return 0
def calculateCompetitionAge(row):
        if math.isnan(row['CompetitionOpenSinceMonth']):
            return 0
        else:
            f_date = datetime(int(row['CompetitionOpenSinceYear']), int(row['CompetitionOpenSinceMonth']), 1, 0, 0, 0)
            return math.floor(((row['Date'].to_pydatetime() - f_date).days) / 30)

month_num_name_dict = {
    "1": "Jan",
    "2": "Feb",
    "3": "Mar",
    "4": "Apr",
    "5": "May",
    "6": "Jun",
    "7": "Jul",
    "8": "Aug",
    "9": "Sept",
    "10": "Oct",
    "11": "Nov",
    "12": "Dec"
}

def isHavingPromo2(row):
    if not isinstance(row['PromoInterval'], str):
        return 0
    elif month_num_name_dict[str(row['Date'].to_pydatetime().month)] in row['PromoInterval']:
        return 1
    else:
        return 0

# Possible thought: If we are not at the promo interval, should promo2Age have any effect?
def promo2Age(row):
    if row['Promo2'] == 0:
        return 0
    else:
#        https://stackoverflow.com/a/17087427
        date = str(int(row["Promo2SinceYear"])) + "-W" + str(int(row["Promo2SinceWeek"]))
        f_date = datetime.strptime(date + '-0', "%Y-W%W-%w")
        return math.floor((row['Date'].to_pydatetime() - f_date).days/ 30)
mapCharToInt = {'0': 0, 'a': 1, 'b': 2, 'c': 3, 'd': 4}
mapPromoIntervalToInt = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7,
                        'Aug': 8, 'Sept': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}

In [158]:
trainData['HasHoliday'] = trainData.apply(lambda row: hasHoliday(row), axis=1)
trainData['CompetitionAge'] = trainData.apply(lambda row: calculateCompetitionAge(row), axis=1)
trainData['HavingPromo2'] = trainData.apply(lambda row: isHavingPromo2(row), axis=1)
trainData['Promo2Age'] = trainData.apply(lambda row: promo2Age(row), axis=1)
trainData['CompetitionDistance'] = trainData.apply(lambda row: normalizeDistance(row), axis=1)
trainData['Customers'] = trainData.apply(lambda row: normalizeCustomer(row), axis=1)
trainData.replace(mapCharToInt, inplace=True)
trainData.fillna(0, inplace=True)
testData['HasHoliday'] = testData.apply(lambda row: hasHoliday(row), axis=1)
testData['CompetitionAge'] = testData.apply(lambda row: calculateCompetitionAge(row), axis=1)
testData['HavingPromo2'] = testData.apply(lambda row: isHavingPromo2(row), axis=1)
testData['Promo2Age'] = testData.apply(lambda row: promo2Age(row), axis=1)
testData['CompetitionDistance'] = testData.apply(lambda row: normalizeDistance(row), axis=1)
testData['Customers'] = testData.apply(lambda row: normalizeCustomer(row), axis=1)
testData.replace(mapCharToInt, inplace=True)
testData.fillna(0, inplace=True)

In [159]:
trainData

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,...,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,HasHoliday,CompetitionAge,HavingPromo2,Promo2Age
0,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,5577,-0.091497,1,1,0,0,1,78,0,0
1,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,5171,-0.177943,1,1,0,0,1,78,0,0
2,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,4310,-0.250317,1,1,0,0,1,78,0,0
3,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,4806,-0.260369,1,1,0,0,1,77,0,0
4,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,4781,-0.192016,1,1,0,0,1,77,0,0
5,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,0,-1.329891,0,0,0,0,1,77,0,0
6,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,4840,-0.123663,1,0,0,0,1,77,0,0
7,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,3586,-0.346815,1,0,0,0,1,77,0,0
8,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,3492,-0.338774,1,0,0,0,1,77,0,0
9,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,3299,-0.405116,1,0,0,0,1,77,0,0
10,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,3680,-0.401096,1,0,0,0,1,77,0,0
11,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,3721,-0.364909,1,0,0,0,1,77,0,0
12,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,0,-1.329891,0,0,0,0,1,77,0,0
13,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,5255,-0.079435,1,0,0,0,1,77,0,0
14,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,4161,-0.276452,1,1,0,0,1,77,0,0
15,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,4295,-0.290525,1,1,0,0,1,77,0,0
16,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,4541,-0.234234,1,1,0,0,1,77,0,0
17,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,4924,-0.196037,1,1,0,0,1,77,0,0
18,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,5346,-0.143767,1,1,0,0,1,77,0,0
19,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,0,-1.329891,0,0,0,0,1,77,0,0
20,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,4599,-0.192016,1,0,0,0,1,77,0,0
21,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,3998,-0.336763,1,1,0,1,1,77,0,0
22,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,3716,-0.411147,1,1,0,1,1,77,0,0
23,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,4796,-0.117632,1,1,0,1,1,77,0,0
24,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,4574,-0.133715,1,1,0,1,1,77,0,0
25,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,6239,0.101500,1,1,0,1,1,77,0,0
26,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,0,-1.329891,0,0,0,1,1,77,0,0
27,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,5023,-0.033196,1,0,0,1,1,77,0,0
28,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,5509,-0.009071,1,0,0,1,1,77,0,0
29,1,3,1,-0.538119,9.0,2008.0,0,0.0,0.0,0,...,0,-1.329891,0,0,1,1,1,77,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66870,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,0,-1.329891,0,0,3,1,1,0,1,31
66871,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,0,-1.329891,0,0,3,1,1,0,1,31
66872,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,5603,-0.489552,1,0,0,1,1,0,1,31
66873,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,12214,0.368880,1,0,0,1,1,0,1,31
66874,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,11361,0.226143,1,0,0,1,1,0,1,31
66875,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,0,-1.329891,0,0,0,0,1,0,1,31
66876,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,10898,-0.023144,1,0,0,0,1,0,1,31
66877,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,11673,-0.031186,1,1,0,0,1,0,1,30
66878,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,10205,-0.061341,1,1,0,0,1,0,1,30
66879,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,9269,-0.218151,1,1,0,0,1,0,1,30
66880,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,11238,-0.061341,1,1,0,0,1,0,1,30
66881,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,12491,0.123614,1,1,0,0,1,0,1,30
66882,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,0,-1.329891,0,0,0,0,1,0,1,30
66883,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,7880,-0.274442,1,0,0,0,1,0,1,30
66884,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,5341,-0.553885,1,0,0,0,1,0,1,30
66885,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,5884,-0.499604,1,0,0,0,1,0,1,30
66886,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,5784,-0.557905,1,0,0,0,1,0,1,30
66887,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,5860,-0.519708,1,0,0,0,1,0,1,30
66888,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,6195,-0.441303,1,0,0,0,1,0,1,30
66889,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,0,-1.329891,0,0,0,0,1,0,1,30
66890,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,8572,-0.159850,1,0,0,0,1,0,1,30
66891,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,10636,-0.073404,1,1,0,0,1,0,1,30
66892,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,9775,-0.175933,1,1,0,0,1,0,1,30
66893,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,8837,-0.246296,1,1,0,0,1,0,1,30
66894,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,6983,-0.435272,1,1,0,0,1,0,1,30
66895,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,9864,-0.129694,1,1,0,0,1,0,1,30
66896,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,0,-1.329891,0,0,0,0,1,0,0,30
66897,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,9353,-0.061341,1,0,0,0,1,0,0,30
66898,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,10435,-0.127684,1,1,0,0,1,0,0,30
66899,1115,4,3,-0.016796,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",...,8165,-0.278462,1,1,0,0,1,0,0,30

In [160]:
testData

,Store,DayOfWeek,Date,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,...,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,HasHoliday,CompetitionAge,HavingPromo2,Promo2Age
0,1,5,2015-07-31,-0.214130,1,1,0,1,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,84,0,0
1,1,4,2015-07-30,-0.232224,1,1,0,1,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,84,0,0
2,1,3,2015-07-29,-0.278462,1,1,0,1,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,84,0,0
3,1,2,2015-07-28,-0.204078,1,1,0,1,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,84,0,0
4,1,1,2015-07-27,-0.099538,1,1,0,1,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,84,0,0
5,1,7,2015-07-26,-1.329891,0,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
6,1,6,2015-07-25,-0.324701,1,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
7,1,5,2015-07-24,-0.407127,1,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
8,1,4,2015-07-23,-0.318670,1,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
9,1,3,2015-07-22,-0.399085,1,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
10,1,2,2015-07-21,-0.387023,1,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
11,1,1,2015-07-20,-0.272431,1,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
12,1,7,2015-07-19,-1.329891,0,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
13,1,6,2015-07-18,-0.300577,1,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
14,1,5,2015-07-17,-0.286504,1,1,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
15,1,4,2015-07-16,-0.290525,1,1,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
16,1,3,2015-07-15,-0.224182,1,1,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
17,1,2,2015-07-14,-0.236244,1,1,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
18,1,1,2015-07-13,-0.218151,1,1,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
19,1,7,2015-07-12,-1.329891,0,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
20,1,6,2015-07-11,-0.443314,1,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
21,1,5,2015-07-10,-0.427231,1,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
22,1,4,2015-07-09,-0.364909,1,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
23,1,3,2015-07-08,-0.354857,1,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
24,1,2,2015-07-07,-0.354857,1,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
25,1,1,2015-07-06,-0.244286,1,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
26,1,7,2015-07-05,-1.329891,0,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
27,1,6,2015-07-04,-0.204078,1,0,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
28,1,5,2015-07-03,-0.248307,1,1,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
29,1,4,2015-07-02,-0.177943,1,1,0,0,3,1,...,9.0,2008.0,0,0.0,0.0,0,1,83,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33420,1115,5,2015-07-31,-0.248307,1,1,0,1,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,38
33421,1115,4,2015-07-30,-0.320680,1,1,0,1,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,38
33422,1115,3,2015-07-29,-0.378981,1,1,0,1,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,38
33423,1115,2,2015-07-28,-0.324701,1,1,0,1,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,38
33424,1115,1,2015-07-27,-0.107580,1,1,0,1,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,38
33425,1115,7,2015-07-26,-1.329891,0,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,38
33426,1115,6,2015-07-25,-0.368929,1,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,38
33427,1115,5,2015-07-24,-0.491563,1,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,38
33428,1115,4,2015-07-23,-0.455376,1,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,38
33429,1115,3,2015-07-22,-0.561926,1,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,38
33430,1115,2,2015-07-21,-0.622237,1,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,38
33431,1115,1,2015-07-20,-0.445324,1,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,38
33432,1115,7,2015-07-19,-1.329891,0,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,38
33433,1115,6,2015-07-18,-0.316660,1,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,38
33434,1115,5,2015-07-17,-0.286504,1,1,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,37
33435,1115,4,2015-07-16,-0.415168,1,1,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,37
33436,1115,3,2015-07-15,-0.425220,1,1,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,37
33437,1115,2,2015-07-14,-0.348826,1,1,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,37
33438,1115,1,2015-07-13,-0.041237,1,1,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,37
33439,1115,7,2015-07-12,-1.329891,0,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,37
33440,1115,6,2015-07-11,-0.358878,1,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,37
33441,1115,5,2015-07-10,-0.517698,1,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,37
33442,1115,4,2015-07-09,-0.493573,1,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,37
33443,1115,3,2015-07-08,-0.499604,1,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,37
33444,1115,2,2015-07-07,-0.602134,1,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,37
33445,1115,1,2015-07-06,-0.419189,1,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,37
33446,1115,7,2015-07-05,-1.329891,0,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,37
33447,1115,6,2015-07-04,-0.393054,1,0,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,37
33448,1115,5,2015-07-03,-0.368929,1,1,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,37
33449,1115,4,2015-07-02,-0.421199,1,1,0,0,4,3,...,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,0,0,37

In [161]:
# Dropping features
_trainData = trainData.drop(['Date','CompetitionOpenSinceMonth','CompetitionOpenSinceYear','StateHoliday','SchoolHoliday','Promo2SinceWeek', 'Promo2SinceYear','PromoInterval', 'Promo2', 'Open'], axis=1)
_testData = testData.drop(['Date','CompetitionOpenSinceMonth','CompetitionOpenSinceYear','StateHoliday','SchoolHoliday','Promo2SinceWeek', 'Promo2SinceYear','PromoInterval', 'Promo2', 'Open'], axis=1)
y = _trainData[_trainData.Customers != 0].Sales.values
_trainData = _trainData[_trainData.Customers != 0].drop(['Sales', 'Store'], axis=1)
_testData = _testData.drop('Store', axis=1)

In [162]:
_trainData

,StoreType,Assortment,CompetitionDistance,DayOfWeek,Customers,Promo,HasHoliday,CompetitionAge,HavingPromo2,Promo2Age
0,3,1,-0.538119,5,-0.091497,1,1,78,0,0
1,3,1,-0.538119,4,-0.177943,1,1,78,0,0
2,3,1,-0.538119,3,-0.250317,1,1,78,0,0
3,3,1,-0.538119,2,-0.260369,1,1,77,0,0
4,3,1,-0.538119,1,-0.192016,1,1,77,0,0
5,3,1,-0.538119,7,-1.329891,0,1,77,0,0
6,3,1,-0.538119,6,-0.123663,0,1,77,0,0
7,3,1,-0.538119,5,-0.346815,0,1,77,0,0
8,3,1,-0.538119,4,-0.338774,0,1,77,0,0
9,3,1,-0.538119,3,-0.405116,0,1,77,0,0
10,3,1,-0.538119,2,-0.401096,0,1,77,0,0
11,3,1,-0.538119,1,-0.364909,0,1,77,0,0
12,3,1,-0.538119,7,-1.329891,0,1,77,0,0
13,3,1,-0.538119,6,-0.079435,0,1,77,0,0
14,3,1,-0.538119,5,-0.276452,1,1,77,0,0
15,3,1,-0.538119,4,-0.290525,1,1,77,0,0
16,3,1,-0.538119,3,-0.234234,1,1,77,0,0
17,3,1,-0.538119,2,-0.196037,1,1,77,0,0
18,3,1,-0.538119,1,-0.143767,1,1,77,0,0
19,3,1,-0.538119,7,-1.329891,0,1,77,0,0
20,3,1,-0.538119,6,-0.192016,0,1,77,0,0
21,3,1,-0.538119,5,-0.336763,1,1,77,0,0
22,3,1,-0.538119,4,-0.411147,1,1,77,0,0
23,3,1,-0.538119,3,-0.117632,1,1,77,0,0
24,3,1,-0.538119,2,-0.133715,1,1,77,0,0
25,3,1,-0.538119,1,0.101500,1,1,77,0,0
26,3,1,-0.538119,7,-1.329891,0,1,77,0,0
27,3,1,-0.538119,6,-0.033196,0,1,77,0,0
28,3,1,-0.538119,5,-0.009071,0,1,77,0,0
29,3,1,-0.538119,4,-1.329891,0,1,77,0,0
...,...,...,...,...,...,...,...,...,...,...
66870,4,3,-0.016796,5,-1.329891,0,1,0,1,31
66871,4,3,-0.016796,4,-1.329891,0,1,0,1,31
66872,4,3,-0.016796,3,-0.489552,0,1,0,1,31
66873,4,3,-0.016796,2,0.368880,0,1,0,1,31
66874,4,3,-0.016796,1,0.226143,0,1,0,1,31
66875,4,3,-0.016796,7,-1.329891,0,1,0,1,31
66876,4,3,-0.016796,6,-0.023144,0,1,0,1,31
66877,4,3,-0.016796,5,-0.031186,1,1,0,1,30
66878,4,3,-0.016796,4,-0.061341,1,1,0,1,30
66879,4,3,-0.016796,3,-0.218151,1,1,0,1,30
66880,4,3,-0.016796,2,-0.061341,1,1,0,1,30
66881,4,3,-0.016796,1,0.123614,1,1,0,1,30
66882,4,3,-0.016796,7,-1.329891,0,1,0,1,30
66883,4,3,-0.016796,6,-0.274442,0,1,0,1,30
66884,4,3,-0.016796,5,-0.553885,0,1,0,1,30
66885,4,3,-0.016796,4,-0.499604,0,1,0,1,30
66886,4,3,-0.016796,3,-0.557905,0,1,0,1,30
66887,4,3,-0.016796,2,-0.519708,0,1,0,1,30
66888,4,3,-0.016796,1,-0.441303,0,1,0,1,30
66889,4,3,-0.016796,7,-1.329891,0,1,0,1,30
66890,4,3,-0.016796,6,-0.159850,0,1,0,1,30
66891,4,3,-0.016796,5,-0.073404,1,1,0,1,30
66892,4,3,-0.016796,4,-0.175933,1,1,0,1,30
66893,4,3,-0.016796,3,-0.246296,1,1,0,1,30
66894,4,3,-0.016796,2,-0.435272,1,1,0,1,30
66895,4,3,-0.016796,1,-0.129694,1,1,0,1,30
66896,4,3,-0.016796,7,-1.329891,0,1,0,0,30
66897,4,3,-0.016796,6,-0.061341,0,1,0,0,30
66898,4,3,-0.016796,5,-0.127684,1,1,0,0,30
66899,4,3,-0.016796,4,-0.278462,1,1,0,0,30

In [163]:
_testData

,DayOfWeek,Customers,Promo,StoreType,Assortment,CompetitionDistance,HasHoliday,CompetitionAge,HavingPromo2,Promo2Age
0,5,-0.214130,1,3,1,-0.538119,1,84,0,0
1,4,-0.232224,1,3,1,-0.538119,1,84,0,0
2,3,-0.278462,1,3,1,-0.538119,1,84,0,0
3,2,-0.204078,1,3,1,-0.538119,1,84,0,0
4,1,-0.099538,1,3,1,-0.538119,1,84,0,0
5,7,-1.329891,0,3,1,-0.538119,1,83,0,0
6,6,-0.324701,0,3,1,-0.538119,1,83,0,0
7,5,-0.407127,0,3,1,-0.538119,1,83,0,0
8,4,-0.318670,0,3,1,-0.538119,1,83,0,0
9,3,-0.399085,0,3,1,-0.538119,1,83,0,0
10,2,-0.387023,0,3,1,-0.538119,1,83,0,0
11,1,-0.272431,0,3,1,-0.538119,1,83,0,0
12,7,-1.329891,0,3,1,-0.538119,1,83,0,0
13,6,-0.300577,0,3,1,-0.538119,1,83,0,0
14,5,-0.286504,1,3,1,-0.538119,1,83,0,0
15,4,-0.290525,1,3,1,-0.538119,1,83,0,0
16,3,-0.224182,1,3,1,-0.538119,1,83,0,0
17,2,-0.236244,1,3,1,-0.538119,1,83,0,0
18,1,-0.218151,1,3,1,-0.538119,1,83,0,0
19,7,-1.329891,0,3,1,-0.538119,1,83,0,0
20,6,-0.443314,0,3,1,-0.538119,1,83,0,0
21,5,-0.427231,0,3,1,-0.538119,1,83,0,0
22,4,-0.364909,0,3,1,-0.538119,1,83,0,0
23,3,-0.354857,0,3,1,-0.538119,1,83,0,0
24,2,-0.354857,0,3,1,-0.538119,1,83,0,0
25,1,-0.244286,0,3,1,-0.538119,1,83,0,0
26,7,-1.329891,0,3,1,-0.538119,1,83,0,0
27,6,-0.204078,0,3,1,-0.538119,1,83,0,0
28,5,-0.248307,1,3,1,-0.538119,1,83,0,0
29,4,-0.177943,1,3,1,-0.538119,1,83,0,0
...,...,...,...,...,...,...,...,...,...,...
33420,5,-0.248307,1,4,3,-0.016796,1,0,0,38
33421,4,-0.320680,1,4,3,-0.016796,1,0,0,38
33422,3,-0.378981,1,4,3,-0.016796,1,0,0,38
33423,2,-0.324701,1,4,3,-0.016796,1,0,0,38
33424,1,-0.107580,1,4,3,-0.016796,1,0,0,38
33425,7,-1.329891,0,4,3,-0.016796,1,0,0,38
33426,6,-0.368929,0,4,3,-0.016796,1,0,0,38
33427,5,-0.491563,0,4,3,-0.016796,1,0,0,38
33428,4,-0.455376,0,4,3,-0.016796,1,0,0,38
33429,3,-0.561926,0,4,3,-0.016796,1,0,0,38
33430,2,-0.622237,0,4,3,-0.016796,1,0,0,38
33431,1,-0.445324,0,4,3,-0.016796,1,0,0,38
33432,7,-1.329891,0,4,3,-0.016796,1,0,0,38
33433,6,-0.316660,0,4,3,-0.016796,1,0,0,38
33434,5,-0.286504,1,4,3,-0.016796,1,0,0,37
33435,4,-0.415168,1,4,3,-0.016796,1,0,0,37
33436,3,-0.425220,1,4,3,-0.016796,1,0,0,37
33437,2,-0.348826,1,4,3,-0.016796,1,0,0,37
33438,1,-0.041237,1,4,3,-0.016796,1,0,0,37
33439,7,-1.329891,0,4,3,-0.016796,1,0,0,37
33440,6,-0.358878,0,4,3,-0.016796,1,0,0,37
33441,5,-0.517698,0,4,3,-0.016796,1,0,0,37
33442,4,-0.493573,0,4,3,-0.016796,1,0,0,37
33443,3,-0.499604,0,4,3,-0.016796,1,0,0,37
33444,2,-0.602134,0,4,3,-0.016796,1,0,0,37
33445,1,-0.419189,0,4,3,-0.016796,1,0,0,37
33446,7,-1.329891,0,4,3,-0.016796,1,0,0,37
33447,6,-0.393054,0,4,3,-0.016796,1,0,0,37
33448,5,-0.368929,1,4,3,-0.016796,1,0,0,37
33449,4,-0.421199,1,4,3,-0.016796,1,0,0,37

In [168]:
X = _trainData.values
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=0)
rfr = RandomForestRegressor()
clf = rfr.fit(X_train, y_train)
print(clf.score(X_val, y_val))
rfr.fit(X,y)
print(rfr.feature_importances_)

0.954804764762
[ 0.02883881  0.01306917  0.03734832  0.00541607  0.87852298  0.01059308
  0.          0.01347933  0.00113394  0.01159829]

In [169]:
results = rfr.predict(_testData.as_matrix())
store_closed_index = np.where(_testData.Customers == (0 - customer_mean)/customer_std)[0]

print(store_closed_index)

for val in store_closed_index:
    results[val] = 0
with open('submission.csv', 'w') as csvfile:
    fieldnames = ['Id', 'Sales']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()
    for idx, val in enumerate(results):
        writer.writerow({'Id': index[idx] + 1, 'Sales': val})
    csvfile.close()

[    5    12    19 ..., 33432 33439 33446]

How bout some xgboost?